EYE/EYE/EYE/Service References/EYEServiceReference/EYEService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52635/EYEService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" />
  <xs:import schemaLocation="http://localhost:52635/EYEService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52635/EYEService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="validateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateUserLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateUserEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newUser" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newUser" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getUsersResult" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newAddress" nillable="true" type="q4:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newAddress" nillable="true" type="q5:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getAddressesResult" nillable="true" type="q6:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAddressIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newState" nillable="true" type="q7:State" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newState" nillable="true" type="q8:State" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getStatesResult" nillable="true" type="q9:ArrayOfState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewHealthCareProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newHealthCareProvider" nillable="true" type="q10:HealthCareProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewHealthCareProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewHealthCareProviderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHealthCareProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="healthCareProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHealthCareProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteHealthCareProviderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyHealthCareProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newHealthCareProvider" nillable="true" type="q11:HealthCareProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyHealthCareProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyHealthCareProviderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthCareProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthCareProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getHealthCareProvidersResult" nillable="true" type="q12:ArrayOfHealthCareProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newFamily" nillable="true" type="q13:Family" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewFamilyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFamilyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newFamily" nillable="true" type="q14:Family" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyFamilyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamilies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamiliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getFamiliesResult" nillable="true" type="q15:ArrayOfFamily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newPatient" nillable="true" type="q16:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newPatient" nillable="true" type="q17:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFamily_Patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newFamilyPatient" nillable="true" type="q18:Family_Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFamily_PatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewFamily_PatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFamily_Patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyPatientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFamily_PatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFamily_PatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFamily_Patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newPatient" nillable="true" type="q19:Family_Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFamily_PatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyFamily_PatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamily_Patients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamily_PatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getFamily_PatientsResult" nillable="true" type="q20:ArrayOfFamily_Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newSchool" nillable="true" type="q21:School" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifySchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newSchool" nillable="true" type="q22:School" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifySchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifySchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getSchoolsResult" nillable="true" type="q23:ArrayOfSchool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewEthnicity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newEthnicity" nillable="true" type="q24:Ethnicity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewEthnicityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewEthnicityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEthnicity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ethnicityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEthnicityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEthnicityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyEthnicity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newEthnicity" nillable="true" type="q25:Ethnicity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyEthnicityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyEthnicityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getEthnicitiesResult" nillable="true" type="q26:ArrayOfEthnicity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicityNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicityNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEthnicityNamesResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPatientIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isSchoolExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isSchoolExistedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isSchoolExistedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthCareProviderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthCareProviderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHealthCareProviderIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamily_PatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyID" type="xs:int" />
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamily_PatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFamily_PatientIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ethnicityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEthnicityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEthnicityIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbcd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statecode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbcdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="abbcdResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getUserdetailsResult" nillable="true" type="q28:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getPatientListResult" nillable="true" type="q29:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamilyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamilyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getFamilyDetailsResult" nillable="true" type="q30:ParentDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newAppointment" nillable="true" type="q31:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProviderSearchListDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProviderSearchListDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getProviderSearchListDetailsResult" nillable="true" type="q32:ArrayOfHealthCareProviderList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newPatient" nillable="true" type="q33:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="newAddress" nillable="true" type="q34:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStateIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getStateCodeResult" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchoolId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchoolIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSchoolIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="getPatientsResult" nillable="true" type="q36:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="healthCareProviderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="healthCareProviderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="healthCareProviderIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="patientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="patientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="patientFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="patientFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="patientFullNameResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="appointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="familyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="appointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EYEServiceWebRole" minOccurs="0" name="appointmentsResult" nillable="true" type="q38:ArrayOfAppointmentListPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamilyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFamilyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFamilyIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="time" type="q39:duration" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>